/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic,400italic,600italic,700italic");
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
h1 {
  font-family: "trumpgothicpro";
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #4c5c65;
  letter-spacing: .05em;
  text-transform: uppercase; }

h2 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #414042;
  letter-spacing: .05em; }

h3 {
  font-family: "trumpgothicpro";
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #414042;
  letter-spacing: .05em;
  text-transform: uppercase; }

h4 {
  font-family: "source sans pro";
  font-weight: 600;
  font-style: italic;
  font-size: 26px;
  color: #0095da;
  letter-spacing: .05em; }

h5 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: bold;
  font-size: 18px;
  color: #a7a7a7;
  letter-spacing: .15em;
  text-transform: uppercase; }

h6 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #414042;
  letter-spacing: .05em; }

p {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #414042;
  letter-spacing: .05em;
  line-height: 34px; }

blockquote {
  border-left: 1px solid #ec008c;
  margin: 3rem 0;
  padding: 0 0 0 2rem; }
  blockquote p {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    color: #4c5c65;
    line-height: 2.25rem; }
  blockquote ul {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    list-style-type: circle;
    line-height: 1.75rem; }
    blockquote ul li {
      color: #4c5c65;
      padding: .5rem 0; }

ol {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 20px; }

ul {
  line-height: auto; }

@-webkit-viewport {
  width: device-width; }

@-mos-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #fcfcfc; }

.body {
  margin: 0 auto;
  padding: 1rem 3rem 3rem 3rem;
  text-align: left;
  width: 100%; }
  @media (min-width: 640px) {
    .body {
      padding: 3rem 0 4rem 0;
      width: 50%; } }
  .body a {
    transition: all 120ms ease-in-out;
    color: #ec008c;
    text-decoration: none; }
    .body a:hover {
      color: #86004f; }

hr {
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  margin: 3rem 0; }

.embed-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  position: relative; }
  .embed-wrapper iframe, .embed-wrapper object, .embed-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.img-group figure {
  padding-top: 3rem; }

figure {
  padding-top: 1rem; }
  figure img {
    width: 100%; }
  figure figcaption {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #4c5c65;
    letter-spacing: .05rem;
    padding-top: 1rem;
    text-align: center; }

.feature-area {
  border: 1px solid #414042;
  margin: 2rem; }
  .feature-area:after {
    content: "";
    display: table;
    clear: both; }
  .feature-area .wrapper {
    border-bottom: 1px solid #414042; }
    .feature-area .wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .feature-area .content {
    padding: 2rem 0;
    position: relative;
    width: 80%; }
    .feature-area .content:after {
      content: "";
      display: table;
      clear: both; }
    .feature-area .content h1 {
      line-height: 3rem;
      margin: 0; }
    .feature-area .content h6 {
      margin-bottom: 1rem;
      font-size: 20px; }
    @media (min-width: 445px) {
      .feature-area .content {
        padding: 4rem 0;
        width: 45%; }
        .feature-area .content h6 {
          font-size: 22px; } }

@media (min-width: 750px) {
  .-home {
    background-image: url(/img/cm.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: .25rem; } }

.-home .logo {
  border-bottom: 1px solid #414042; }

@media (min-width: 765px) {
  .-home .logo {
    border-bottom: none; }
    .-home .logo svg {
      float: left; } }

.-home .content {
  padding: 2rem;
  position: relative;
  text-align: left;
  width: 100%; }
  .-home .content:after {
    content: "";
    display: table;
    clear: both; }
  .-home .content h1 {
    font-size: 30px;
    line-height: 2.2rem;
    margin: 0; }
  .-home .content h6 {
    font-size: 18px;
    margin-bottom: 2rem;
    padding-top: .5rem; }
  @media (min-width: 400px) {
    .-home .content {
      padding: 3rem; }
      .-home .content h1 {
        font-size: 48px;
        line-height: 3rem; }
      .-home .content h6 {
        font-size: 22px;
        margin-bottom: 3rem; } }
  @media (min-width: 750px) {
    .-home .content {
      width: 75%; } }
  @media (min-width: 1000px) {
    .-home .content {
      padding: 8rem 4rem;
      width: 55%; } }

.-border--black {
  border: 1px solid #000000; }

.-border-right--black {
  border-right: 1px solid #000000; }

.-interior {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: .1rem; }
  .-interior .logo {
    border-bottom: 1px solid #414042; }
  @media (min-width: 765px) {
    .-interior .logo {
      border-bottom: none; }
      .-interior .logo svg {
        float: left; } }
  .-interior .content {
    margin: 0 auto; }
    .-interior .content h6 {
      padding-top: .5rem; }
    .-interior .content hr {
      margin: 0 auto;
      padding: .25rem 0;
      width: 10%; }

.logo {
  float: left;
  max-height: 65px;
  margin: 0;
  width: 100%; }
  .logo:after {
    content: "";
    display: table;
    clear: both; }
  .logo svg {
    margin: 0 auto;
    max-width: 280px;
    height: 100%; }

@media (min-width: 765px) {
  .wrapper .logo {
    border-right: 1px solid #414042;
    max-width: 280px; } }

nav {
  font-family: "trumpgothicpro";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  right: 3rem;
  text-transform: uppercase;
  width: 100%; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav a {
    transition: all 120ms ease-in-out;
    letter-spacing: .1em;
    text-decoration: none; }
    nav a:hover {
      color: #ec008c; }
  @media (min-width: 950px) {
    nav {
      position: absolute;
      width: inherit; } }

.-header {
  float: right;
  padding: 1rem 0;
  width: 100%; }
  .-header a {
    color: #4c5c65;
    line-height: 1.75rem;
    padding: 0 1rem; }
    .-header a:hover:visited {
      color: #ec008c; }
  @media (min-width: 400px) {
    .-header a {
      padding: 0 .5rem; } }
  @media (min-width: 765px) {
    .-header {
      padding-top: 1.21rem;
      width: inherit; }
      .-header a {
        padding: 0 1rem; } }

.active {
  color: #86004f !important; }
  .active:hover {
    color: #ec008c !important; }

button {
  font-family: "source sans pro";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background: none;
  border: 1px solid;
  cursor: pointer;
  letter-spacing: .1em;
  overflow: hidden;
  padding: 1rem 1.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1; }
  button a {
    text-decoration: none; }
  button[type=submit] {
    color: #0095da; }
    button[type=submit]:hover {
      color: white; }
  @media (min-width: 400px) {
    button {
      font-size: 18px; } }

.-blue {
  border-color: #0095da; }
  .-blue a {
    color: #0095da; }
  .-blue:hover a {
    color: white; }
  .-blue:hover:before {
    top: 0; }
  .-blue:before {
    transition: all 120ms ease-in-out;
    background: #0095da;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1; }

.-white {
  border-color: white; }
  .-white a {
    color: white; }
  .-white:hover a {
    color: #0095da; }
  .-white:hover:before {
    top: 0; }
  .-white:before {
    transition: all 120ms ease-in-out;
    background: #ffffff;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1; }

.-slim {
  border-color: #a7a7a7;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  padding: .5rem 1rem; }
  .-slim a {
    color: white; }
    .-slim a:hover {
      color: #0095da; }
  .-slim:hover {
    border-color: white; }
    .-slim:hover:before {
      top: 0; }
  .-slim:before {
    transition: all 120ms ease-in-out;
    background: white;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1; }

footer {
  background-color: #414042;
  display: block;
  padding: .5rem; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer nav {
    padding: 1.5rem 0 .5rem 0; }
    footer nav a {
      color: white;
      display: inherit;
      padding: 0 1.5rem 1rem 1.5rem; }
  @media (min-width: 950px) {
    footer nav {
      display: inline-block;
      height: inherit;
      padding: 1.25rem 1rem;
      position: absolute;
      right: 13rem; }
      footer nav a {
        display: inline-block;
        padding: 0 1rem; } }
  footer ul {
    display: inline-block;
    height: 100%;
    list-style-type: none;
    padding: 1rem; }
    footer ul:after {
      content: "";
      display: table;
      clear: both; }
    footer ul li {
      display: inline-block;
      margin: 0 .75rem;
      width: 30px; }
    @media (min-width: 950px) {
      footer ul {
        float: right;
        padding: 1.1rem 1.5rem 0 0; } }
  footer .nav-bar {
    margin: 2.5rem; }
    footer .nav-bar:after {
      content: "";
      display: table;
      clear: both; }
  footer .-border--white {
    border: 1px solid #ffffff; }
  footer .-border {
    border-bottom: 1px solid #ffffff; }
  @media (min-width: 950px) {
    footer .logo {
      border-right: 1px solid #414042;
      max-width: 280px; } }
  @media (min-width: 950px) {
    footer .-border {
      border-right: 1px solid #ffffff;
      border-bottom: none; } }
  footer .copyright {
    font-family: "source sans pro";
    font-weight: 400;
    font-style: bold;
    font-size: 14px;
    color: #a7a7a7;
    margin-left: 2.5rem;
    text-align: left;
    text-transform: uppercase; }

.case-studies {
  text-align: left; }
  .case-studies a {
    text-decoration: none; }
    .case-studies a:hover li .content {
      background-color: rgba(0, 149, 218, 0.9); }
      .case-studies a:hover li .content h5 {
        color: white; }
  .case-studies h1 {
    color: white;
    margin-bottom: 0; }
  .case-studies ul {
    list-style-type: none; }
    .case-studies ul li {
      background-color: #414042;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 2rem; }
      .case-studies ul li .content {
        transition: all 100ms ease-in-out;
        background-color: rgba(64, 62, 65, 0.9);
        padding: 2rem;
        width: 100%; }
        .case-studies ul li .content h1 {
          font-size: 30px; }
        .case-studies ul li .content h5 {
          color: white; }
    @media (min-width: 400px) {
      .case-studies ul li .content {
        padding: 2rem; }
        .case-studies ul li .content h1 {
          font-size: 40px; } }
    @media (min-width: 600px) {
      .case-studies ul li {
        padding: 5rem; }
        .case-studies ul li .content {
          width: 85%; }
          .case-studies ul li .content h1 {
            font-size: 48px; }
          .case-studies ul li .content h5 {
            color: #a7a7a7; } }
    @media (min-width: 700px) {
      .case-studies ul li .content {
        width: 75%; } }
    @media (min-width: 800px) {
      .case-studies ul li .content {
        width: 65%; } }
    @media (min-width: 900px) {
      .case-studies ul li .content {
        width: 55%; } }
    @media (min-width: 1100px) {
      .case-studies ul li .content {
        width: 35%; } }

@media (min-width: 800px) {
  .-featured {
    max-height: 450px;
    height: 100%; } }

.-featured h1 {
  color: white; }

.-featured ul {
  height: inherit; }
  .-featured ul li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    padding: 2rem 2rem 5rem 2rem;
    width: 100%; }
    .-featured ul li:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 400px) {
      .-featured ul li {
        padding-top: 3rem; } }
    @media (min-width: 800px) {
      .-featured ul li {
        float: left;
        padding: 2.6rem;
        width: 50%; }
        .-featured ul li:last-child {
          float: right; }
          .-featured ul li:last-child:after {
            content: "";
            display: table;
            clear: both; } }

.-featured .wrapper {
  background-color: rgba(64, 62, 65, 0.9);
  padding: 2rem;
  width: 100%; }
  .-featured .wrapper h1 {
    font-size: 30px; }
  .-featured .wrapper h5 {
    color: white; }
  @media (min-width: 400px) {
    .-featured .wrapper h1 {
      font-size: 40px; } }
  @media (min-width: 800px) {
    .-featured .wrapper h5 {
      color: #a7a7a7; } }
  @media (min-width: 850px) {
    .-featured .wrapper {
      width: 90%; } }
  @media (min-width: 1000px) {
    .-featured .wrapper {
      width: 75%; } }
  @media (min-width: 1100px) {
    .-featured .wrapper {
      width: 65%; } }
  .-featured .wrapper:hover {
    transition: all 100ms ease-in-out;
    background-color: rgba(0, 149, 218, 0.9); }
    .-featured .wrapper:hover h5 {
      color: white; }
    .-featured .wrapper:hover .-slim {
      border-color: white; }

.case-study {
  padding: 3rem 0; }
  @media (min-width: 600px) {
    .case-study {
      padding: 4rem 0; } }
  .case-study > p, .case-study h1, .case-study h2, .case-study h3, .case-study h4, .case-study h5, .case-study h6 {
    margin: 0 auto;
    text-align: left;
    width: 80%; }
  @media (min-width: 800px) {
    .case-study > p, .case-study h1, .case-study h2, .case-study h3, .case-study h4, .case-study h5, .case-study h6 {
      width: 70%; } }
  @media (min-width: 1000px) {
    .case-study > p, .case-study h1, .case-study h2, .case-study h3, .case-study h4, .case-study h5, .case-study h6 {
      width: 50%; } }
  .case-study a {
    color: #ec008c;
    text-decoration: none; }
    .case-study a:hover {
      color: #86004f; }
  .case-study figure {
    padding: 3rem 0; }
  .case-study .half-width {
    width: 100%; }
    @media (min-width: 800px) {
      .case-study .half-width {
        width: 50%; } }
  .case-study .left {
    float: left; }
  .case-study .right {
    float: right; }
  .case-study .one-third {
    width: 100%; }
    @media (min-width: 800px) {
      .case-study .one-third {
        width: 33%; } }
  .case-study h2 {
    font-family: "trumpgothicpro";
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: #414042;
    letter-spacing: .05em;
    text-transform: uppercase; }
  .case-study h3 {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    color: #414042;
    letter-spacing: .05em;
    padding: 0 0 1rem 0;
    text-transform: none; }
  .case-study h5 {
    font-family: "source sans pro";
    font-weight: 600;
    font-style: bold;
    font-size: 20px;
    color: #a7a7a7;
    letter-spacing: .1em;
    padding: 1rem 0 .5rem 0; }
  .case-study h6 {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: bold;
    font-size: 18px;
    color: #414042;
    letter-spacing: .05em;
    line-height: 2rem; }
  .case-study p {
    color: #414042;
    line-height: 2rem;
    padding: 0 0 2rem 0;
    text-align: left; }

.featured-posts {
  margin: 2rem;
  text-align: left; }
  @media (min-width: 1000px) {
    .featured-posts {
      margin: 3rem; } }
  .featured-posts h3 {
    margin-bottom: 1.5rem; }
  @media (min-width: 1000px) {
    .featured-posts .post-wrapper {
      display: box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      box-pack: justify;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      margin-top: 2rem; } }
  .featured-posts .post {
    border: 1px solid black;
    margin-bottom: 2rem;
    padding: 2.5rem;
    width: 100%; }
    .featured-posts .post p {
      font-size: 18px;
      line-height: 26px; }
    @media (min-width: 1000px) {
      .featured-posts .post {
        margin-bottom: 0;
        padding: 3rem;
        width: 32%; }
        .featured-posts .post p {
          font-size: 22px;
          line-height: 30px; } }
    .featured-posts .post h3 {
      transition: all 120ms ease-in-out;
      line-height: 2.25rem; }
      .featured-posts .post h3:hover {
        color: #0095da; }
    .featured-posts .post a {
      text-decoration: none; }
    .featured-posts .post button {
      margin-top: 2rem; }

.posts {
  text-align: left; }
  .posts button {
    margin-top: 2rem; }
    .posts button a {
      color: #0095da; }
      .posts button a:hover {
        color: white; }
  .posts h3 {
    border-bottom: 1px solid #d0d0d0;
    line-height: 2.25rem;
    padding-bottom: 1.5rem; }
  .posts p {
    margin: 0;
    padding-top: .75rem; }
  .posts ul {
    list-style-type: none; }
    .posts ul li {
      padding: 3rem 0; }
  .posts .pagination {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .05em;
    text-align: center; }
    .posts .pagination .previous {
      padding-right: 2rem; }
    .posts .pagination .page-number {
      font-family: "source sans pro";
      font-weight: 200;
      font-style: normal;
      font-size: 18px;
      color: #a7a7a7;
      padding-top: 1rem; }

form {
  width: 100%; }
  form label {
    font-family: "source sans pro";
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #414042;
    letter-spacing: .15em;
    text-transform: uppercase; }
  form input, form textarea {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    margin: .75rem 0 1.5rem 0;
    padding: 1rem;
    width: 100%; }
    form input:focus, form textarea:focus {
      border: 1px solid #ec008c;
      outline: none; }
  form input[type=text], form input[type=email] {
    height: 50px; }
  form textarea {
    border: 1px solid #DADADA;
    height: 10rem;
    margin-bottom: 2rem; }
