@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic,400italic,600italic,700italic");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
@-webkit-viewport {
  width: device-width; }

@-mos-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #fcfcfc; }

hr {
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  margin: 3rem 0; }

.embed-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  position: relative; }
  .embed-wrapper iframe, .embed-wrapper object, .embed-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

h1 {
  font-family: "trumpgothicpro";
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #4c5c65;
  letter-spacing: .05em;
  text-transform: uppercase; }

h2 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #414042;
  letter-spacing: .05em; }

h3 {
  font-family: "trumpgothicpro";
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #414042;
  letter-spacing: .05em;
  text-transform: uppercase; }

h4 {
  font-family: "source sans pro";
  font-weight: 600;
  font-style: italic;
  font-size: 26px;
  color: #0095da;
  letter-spacing: .05em; }

h5 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: bold;
  font-size: 18px;
  color: #a7a7a7;
  letter-spacing: .15em;
  text-transform: uppercase; }

h6 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #414042;
  letter-spacing: .05em; }

p {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  letter-spacing: .05em;
  line-height: 30px; }

blockquote {
  border-left: 1px solid #ec008c;
  margin: 3rem 0;
  padding: 0 0 0 2rem; }
  blockquote p {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    color: #4c5c65;
    line-height: 2.25rem; }
  blockquote ul {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    list-style-type: circle;
    line-height: 1.75rem; }
    blockquote ul li {
      color: #4c5c65;
      padding: .5rem 0; }

ol {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 20px; }

ul {
  line-height: auto; }

.feature-area {
  border: 1px solid #414042;
  margin: 2.5rem;
  text-align: left; }
  .feature-area:after {
    content: "";
    display: table;
    clear: both; }
  .feature-area .wrapper {
    border-bottom: 1px solid #414042; }
    .feature-area .wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .feature-area .content {
    padding: 4rem 4rem;
    position: relative;
    width: 55%; }
    .feature-area .content:after {
      content: "";
      display: table;
      clear: both; }
    .feature-area .content h1 {
      margin: 0; }
    .feature-area .content h6 {
      margin-bottom: 1rem; }

.-home {
  background-image: url(/img/cm.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: .25rem; }
  .-home .content {
    padding: 8rem 4rem;
    position: relative;
    width: 55%; }
    .-home .content:after {
      content: "";
      display: table;
      clear: both; }
    .-home .content h1 {
      margin: 0; }
    .-home .content h6 {
      margin-bottom: 3rem; }

.-border--black {
  border: 1px solid #000000; }

.-border-right--black {
  border-right: 1px solid #000000; }

.logo {
  border-right: 1px solid #414042;
  float: left;
  max-height: 65px;
  margin: 0;
  max-width: 280px;
  width: 100%; }
  .logo:after {
    content: "";
    display: table;
    clear: both; }
  .logo svg {
    margin: 0 auto;
    height: 100%; }

nav {
  font-family: "trumpgothicpro";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  height: 100%;
  padding: 1.25rem 0;
  position: absolute;
  right: 3rem;
  text-transform: uppercase; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav a {
    transition: all 120ms ease-in-out;
    letter-spacing: .1em;
    padding: 0 1.5rem 1rem 1.5rem;
    text-decoration: none; }
    nav a:hover {
      border-bottom: 4px solid #ec008c;
      color: #ec008c; }

.-header {
  float: right; }
  .-header a {
    color: #4c5c65; }
    .-header a:hover:visited {
      color: #ec008c; }

button {
  font-family: "source sans pro";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  background: none;
  border: 1px solid;
  cursor: pointer;
  letter-spacing: .1em;
  overflow: hidden;
  padding: 1rem 1.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1; }
  button a {
    text-decoration: none; }
  button[type=submit] {
    color: #0095da; }
    button[type=submit]:hover {
      color: white; }

.-blue {
  border-color: #0095da; }
  .-blue a {
    color: #0095da; }
  .-blue:hover a {
    color: white; }
  .-blue:hover:before {
    top: 0; }
  .-blue:before {
    transition: all 120ms ease-in-out;
    background: #0095da;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1; }

.-white {
  border-color: white; }
  .-white a {
    color: white; }
  .-white:hover a {
    color: #0095da; }
  .-white:hover:before {
    top: 0; }
  .-white:before {
    transition: all 120ms ease-in-out;
    background: #ffffff;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1; }

footer {
  background-color: #414042;
  display: block;
  padding: .5rem; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer nav {
    right: 13rem;
    height: inherit;
    padding-right: 1rem; }
    footer nav a {
      color: white; }
  footer ul {
    display: inline-block;
    float: right;
    height: 100%;
    list-style-type: none;
    padding: 1.1rem 1.5rem 0 0; }
    footer ul:after {
      content: "";
      display: table;
      clear: both; }
    footer ul li {
      display: inline-block;
      margin: 0 .75rem;
      width: 30px; }
  footer .nav-bar {
    margin: 2.5rem; }
    footer .nav-bar:after {
      content: "";
      display: table;
      clear: both; }
  footer .-border--white {
    border: 1px solid #ffffff; }
  footer .-border-right--white {
    border-right: 1px solid #ffffff; }
  footer .copyright {
    font-family: "source sans pro";
    font-weight: 400;
    font-style: bold;
    font-size: 14px;
    color: #a7a7a7;
    margin-left: 2.5rem;
    text-align: left;
    text-transform: uppercase; }

.case-studies {
  text-align: left; }
  .case-studies a {
    text-decoration: none; }
  .case-studies h1 {
    margin-bottom: 0; }
  .case-studies p {
    margin: 0; }
  .case-studies ul {
    list-style-type: none; }
    .case-studies ul li {
      padding: 2rem 6rem; }

.-featured {
  max-height: 450px;
  height: 100%; }
  .-featured h1 {
    color: white; }
  .-featured ul {
    height: inherit; }
    .-featured ul li {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      float: left;
      height: inherit;
      padding: 2.6rem;
      width: 50%; }
      .-featured ul li:after {
        content: "";
        display: table;
        clear: both; }
      .-featured ul li:last-child {
        float: right; }
        .-featured ul li:last-child:after {
          content: "";
          display: table;
          clear: both; }
      .-featured ul li:hover .action {
        max-height: 100%;
        padding: 2.6rem; }
        .-featured ul li:hover .action button {
          display: block;
          width: 100%; }
  .-featured .wrapper {
    background-color: rgba(64, 62, 65, 0.9);
    border-bottom: 1px solid #0095da;
    padding: 3rem;
    width: 65%; }
  .-featured .action {
    transition: all 120ms ease-in-out;
    background-color: rgba(0, 150, 219, 0.9);
    max-height: 0;
    text-align: center;
    width: 65%; }
    .-featured .action button {
      display: none; }

.featured-posts {
  margin: 3rem;
  text-align: left; }
  .featured-posts .post-wrapper {
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    margin-top: 2rem; }
  .featured-posts .post {
    border: 1px solid black;
    padding: 3rem;
    width: 32%; }
    .featured-posts .post h3 {
      transition: all 120ms ease-in-out; }
      .featured-posts .post h3:hover {
        color: #0095da; }
    .featured-posts .post a {
      text-decoration: none; }
    .featured-posts .post button {
      margin-top: 2rem; }

.posts {
  text-align: left; }
  .posts button {
    margin-top: 2rem; }
    .posts button a {
      color: #0095da; }
      .posts button a:hover {
        color: white; }
  .posts h3 {
    border-bottom: 1px solid #d0d0d0;
    line-height: 2.25rem;
    padding-bottom: 1.5rem; }
  .posts p {
    margin: 0;
    padding-top: .75rem; }
  .posts ul {
    list-style-type: none; }
    .posts ul li {
      padding: 3rem; }
  .posts .pagination {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .05em;
    padding-left: 3rem; }
    .posts .pagination .previous {
      padding-right: 2rem; }
    .posts .pagination .page-number {
      font-family: "source sans pro";
      font-weight: 200;
      font-style: normal;
      font-size: 18px;
      color: #a7a7a7;
      padding-top: 1rem; }

figure {
  padding-top: 1rem; }
  figure img {
    width: 100%; }
  figure figcaption {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #4c5c65;
    padding-top: 1rem; }

.body {
  margin: 4rem 0 4rem 6rem;
  text-align: left;
  width: 55%; }
  .body a {
    transition: all 120ms ease-in-out;
    color: #ec008c;
    text-decoration: none; }
    .body a:hover {
      color: #86004f; }

form {
  width: 100%; }
  form label {
    font-family: "source sans pro";
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #414042;
    letter-spacing: .15em;
    text-transform: uppercase; }
  form input, form textarea {
    font-family: "source sans pro";
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    margin: .75rem 0 1.5rem 0;
    padding: 1rem;
    width: 100%; }
    form input:focus, form textarea:focus {
      border: 1px solid #ec008c;
      outline: none; }
  form input[type=text], form input[type=email] {
    height: 50px; }
  form textarea {
    border: 1px solid #DADADA;
    height: 10rem;
    margin-bottom: 2rem; }
