@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,400italic,700,700italic");
@-webkit-viewport {
  width: device-width; }

@-mos-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #fcfcfc; }

h1 {
  font-family: "trumpgothicpro";
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #4c5c65;
  letter-spacing: .05em;
  text-transform: uppercase; }

h2 {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: purple;
  letter-spacing: .05em;
  text-transform: uppercase; }

p {
  font-family: "source sans pro";
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  letter-spacing: .05em;
  line-height: 30px; }

.feature-area {
  border: 1px solid #414042;
  margin: 2.5rem; }
  .feature-area:after {
    content: "";
    display: table;
    clear: both; }

nav {
  font-family: "trumpgothicpro";
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  float: right;
  padding: 1rem 0;
  text-transform: uppercase; }
  nav a {
    color: #4c5c65;
    letter-spacing: .1em;
    padding: .5rem 1rem;
    text-decoration: none; }
    nav a:hover {
      color: #ec008c; }
