RewriteEngine On

# redirect any HTTP traffic to HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

Redirect 301 /ill-never-use-squarespace-again https://caitlynmayers.com/blog/ill-never-use-squarespace-again
Redirect 301 /portfolio https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/the-boathouse/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/operation-round-up/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/casa-del-barco/ https://caitlynmayers.com/case-studies/casa-del-barco/
Redirect 301 /portfolio/castello-logo/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/identity/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/h-j/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/a-christmas-carol-for-two-actors/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/bb/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/northstar-academy/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/rec/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/big-idea-challenge/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/towndoorstep/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/deaf-jam/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/peoplegroups-org/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/bioenergy-washington/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/bloat/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/dyson/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/connect/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/test/ https://caitlynmayers.com/case-studies
Redirect 301 /portfolio/the-joker/ https://caitlynmayers.com/case-studies