<section class="posts">
  {% for post in paginator.posts %}
  <ul>
    <li>
      <h3>{{ post.title }}</h3>
      <p>{{ post.excerpt | truncatewords: 40 }}</p>
      <button class="-blue"><a href="{{ post.url }}">Keep Reading</a></button>
    </li>
  </ul>
  {% endfor %}

  <!-- Pagination links -->
  
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&laquo Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older Posts &raquo</a>
    {% endif %}
    <br/>
    <p class="page-number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
  </div>
</section>