<footer>
    <a href="/">
      <svg viewBox="0 0 169 41" aria-labelledby="logo" role="img">
          <title id="logo">Cyanide & Magenta Logo</title>
          <desc id="logo">The logo and link to the homepage of the website</desc>
          <use xlink:href="{{ site.url }}/img/sprite.svg#logo-svg-footer"></use>
      </svg>
    </a>
    
    {% include navigation.html %}
    
    <ul>
      <li>
        <a href="https://twitter.com/caitlynmayers" aria-label="Visit Caitlyn's Twitter">
            <svg viewBox="0 0 36.9 30">
              <use xlink:href="{{ site.url }}/img/sprite.svg#twitter-icon"></use>
            </svg>
          </a>
      </li>
      <li>
        <a href="https://dribbble.com/caitlynmayers" aria-label="Visit Caitlyn's Dribble">
            <svg viewBox="0 0 30 30">
              <use xlink:href="{{ site.url }}/img/sprite.svg#dribbble-icon"></use>
            </svg>
          </a>
      </li>
    </ul>
  <p>&copy; {{ site.time | date: '%Y' }} Caitlyn Mayers</p>
</footer>