<div class="feature-area -home">
  <div class="wrapper">
    <a href="/">
      <div class="logo">
        <svg viewBox="0 0 169 41">
            <use xlink:href="{{ site.url }}/img/sprite.svg#logo-svg-header"></use>
        </svg>
    </div>
    </a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

    <nav class="-header">
    {% assign pages_list = site.pages | sort:"weight" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <a href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </nav>
  </div>
  <div class="content">
    <h1>I help build the Internet.</h1>
    <h2>Hi! I’m Caitlyn Mayers, and I’m a strategist, designer and front-end developer in Richmond, Virginia.</h2>
    <button class="-blue"><a href="/about.html">Learn More About Me</a></button>
  </div>
</div>