// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Color Variables
$cyan: #0095da;
$magenta: #ec008c;
$gray: #4c5c65;
$light-gray: #a7a7a7;
$off-white: #d0d0d0;
$dark-gray: #414042;

html {
	font-size: 16px;
}

body {
  background-color: #fcfcfc;
}

hr {
	border: 0;
	border-bottom: 1px solid $off-white;
	margin: 3rem 0;
}

.embed-wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    position: relative;

    & iframe, object, embed {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}