// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Color Variables
$cyan: #0095da;
$magenta: #ec008c;
$gray: #4c5c65;
$light-gray: #a7a7a7;
$dark-gray: #414042;

html {
	font-size: 16px;
}

body {
  background-color: #fcfcfc;
}