.case-studies {
	margin: 1rem;
	text-align: left;

	a {
		text-decoration: none;
	}

	h1 {
		margin-bottom: 0;
	}

	p {
		margin: 0;
	}

	ul {
		list-style-type: none;

		li {
			padding: 2rem 6rem;
		}
	}
}