footer {
	@include clearfix;

	background-color: $dark-gray;
	display: block;
	padding: .5rem;

	nav {
		right: 13rem;
		height: inherit;
		padding-right: 1rem;

		a {
			color: white;
		}
	}

	ul {
		@include clearfix;

		display: inline-block;
		float: right;
		height: 100%;
		list-style-type: none;
		padding: 1.1rem 1.5rem 0 0;

		li {
			display: inline-block;
			margin: 0 .75rem;
			width: 30px;
		}
	}
	
	.nav-bar {
		@include clearfix;

		margin: 2.5rem;
	}

	.-border--white {
		border: 1px solid #ffffff;
	}

	.-border-right--white {
		border-right: 1px solid #ffffff;
	}

	.copyright {
		@include source-reg(14px, bold);

		color: #a7a7a7;
		margin-left: 2.5rem;
		text-align: left;
		text-transform: uppercase;

	}
}