footer {
	@include clearfix;

	background-color: $dark-gray;
	display: block;
	padding: .5rem;

	nav {
		padding: 1.5rem 0 .5rem 0;

		a {
			color: white;
			display: inherit;
			padding: 0 1.5rem 1rem 1.5rem;
		}
	}

	@include mediaQuery(950px){
		nav {
			display: inline-block;
			height: inherit;
			padding: 1.25rem 1rem;
			position: absolute;
			right: 13rem;

			a {
				display: inline-block;
				padding: 0 1rem;
			}
		}
	}

	ul {
		@include clearfix;

		display: inline-block;
		height: 100%;
		list-style-type: none;
		padding: 1rem;

		li {
			display: inline-block;
			margin: 0 .75rem;
			width: 30px;
		}

		@include mediaQuery(950px){
			float: right;
			padding: 1.1rem 1.5rem 0 0;
		}
	}
	
	.nav-bar {
		@include clearfix;

		margin: 2.5rem;
	}

	.-border--white {
		border: 1px solid #ffffff;
	}

	.-border {
		border-bottom: 1px solid #ffffff;
	}

	@include mediaQuery(950px){
		.-border {
			border-right: 1px solid #ffffff;
			border-bottom: none;
		}
	}

	.copyright {
		@include source-reg(14px, bold);

		color: $light-gray;
		margin-left: 2.5rem;
		text-align: left;
		text-transform: uppercase;

	}
}