.logo {
  @include clearfix;

  border-right: 1px solid $dark-gray;
  float: left;
  max-height: 65px;
  margin: 0;
  max-width: 280px;
  width: 100%;

  svg {
    margin: 0 auto;
    height: 100%;
  }
}