.feature-area {
  @include clearfix;

  border: 1px solid $dark-gray;
  margin: 2.5rem;
  text-align: left;

  .wrapper {
      @include clearfix;
      
      border-bottom: 1px solid $dark-gray;
  }

  .content {
    @include clearfix;

    padding: 8rem 4rem;
    position: relative;
    width: 55%;

    h1 {
      margin: 0;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }
}

.-home {
    background-image: url(/img/cm.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: .25rem;
  }

.-border--black {
  border: 1px solid #000000;
}

.-border-right--black{
  border-right: 1px solid #000000;
}