.feature-area {
  @include clearfix;

  border: 1px solid $dark-gray;
  height: 500px;
  margin: 2.5rem;
  text-align: left;

  .wrapper {
      @include clearfix;
      
      border-bottom: 1px solid $dark-gray;
      width: 100%;

    .logo {
      @include clearfix;

      border-right: 1px solid $dark-gray;
      float: left;
      max-height: 65px;
      margin: 0;
      max-width: 280px;
      width: 100%;

      svg {
        margin: 0 auto;
        height: 100%;
      }
    }
  }

  .content {
    padding: 0 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;

    h1 {
      margin: 0;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }
}