.feature-area {
  @include clearfix;

  border: 1px solid #414042;
  height: 500px;
  margin: 2.5rem;

  .wrapper {
      @include clearfix;
      
      border-bottom: 1px solid #414042;
      width: 100%;

    .logo {
      @include clearfix;

      border-right: 1px solid #414042;
      float: left;
      max-height: 65px;
      margin: 0;
      max-width: 280px;
      width: 100%;

      svg {
        margin: 0 auto;
        height: 100%;
      }
    }

    nav {
      @include trump-bold(20px, normal)

      float: right;
      height: 100%;
      padding: 1.25rem 0;
      text-transform: uppercase;

      a {
        color: $dark-gray;
        letter-spacing: .1em;
        padding: 1.5rem;
        text-decoration: none;

        &:hover {
          color: $magenta;
        }
      }
    }

  }

}