.body {
  margin: 0 auto;
  padding: 4rem 0;
  text-align: left;
  width: 50%;

  a {
    @include transition(all 120ms ease-in-out);

    color: $magenta;
    text-decoration: none;

    &:hover {
      color: darken($magenta, 20%);
    }
  }
}