.logo {
  @include clearfix;

  float: left;
  max-height: 65px;
  margin: 0;
  width: 100%;

  svg {
    margin: 0 auto;
    max-width: 280px;
    height: 100%;
  }

  @include mediaQuery(950px){
     border-right: 1px solid $dark-gray;
     max-width: 280px;
  }
}