nav {
  @include clearfix;
  @include trump-bold(20px, normal)

  display: inline-block;
  // padding: 1.25rem 0;
  right: 3rem;
  text-transform: uppercase;
  width: 100%;

  a {
    @include transition(all 120ms ease-in-out);

    letter-spacing: .1em;
    padding: 0 1.5rem 1rem 1.5rem;
    text-decoration: none;

    &:hover {
      color: $magenta;
    }
  }

  @include mediaQuery(950px){
    position: absolute;
    width: inherit;
  }
}

.-header {
  display: none;
  float: right;

  a {
    color: $gray;

    &:hover {
      &:visited {
        color: $magenta;
      }
    }
  }
}

.active {
  color: darken($magenta, 20%) !important;

  &:hover {
    color: $magenta !important;
  }
}