// Styles for Featured Posts on Home Page

.featured-posts {
  margin: 3rem;
  text-align: left;

  .post-wrapper {
    @include display(flex);
    @include justify-content(space-between);

    margin-top: 2rem;
  }

  .post {

    border: 1px solid black;
    padding: 3rem;
    width: 32%;

    h3 {
      @include transition(all 120ms ease-in-out);
      
      &:hover {
        color: $cyan;
      }
    }

    a {
      text-decoration: none;
    }

    button {
      margin-top: 2rem;
    }
  }
}

// Styles for Post List on Blog Page

.posts {
  text-align: left;

  button {
    margin-top: 2rem;

    a {
      color: $cyan;

      &:hover {
        color: white;
      }
    }
  }

  h3 {
    border-bottom: 1px solid #d0d0d0;
    line-height: 2.25rem;
    padding-bottom: 1.5rem;
  }

  p {
    margin: 0;
    padding-top: .75rem;
  }

  ul {
    list-style-type: none;

    li {
      padding: 3rem;
    }
  }
}