.featured-posts {
  margin: 3rem;
  text-align: left;

  .post-wrapper {
    @include display(flex);
    @include justify-content(space-between);

    margin-top: 2rem;
  }

  .post {

    border: 1px solid black;
    padding: 3rem;
    width: 32%;

    h3 {
      @include transition(all 120ms ease-in-out);
      
      &:hover {
        color: $cyan;
      }
    }

    a {
      text-decoration: none;
    }

    button {
      margin-top: 2rem;
    }
  }
}