// Import Source Sans
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic,400italic,600italic,700italic');

// Type Variables
$source: 'source sans pro';
$trump: 'trumpgothicpro';

// Type Mixins
@mixin source-xl($size, $style) {
  font-family: $source;
  font-weight: 200;
  font-style: $style;
  font-size: $size;
}

@mixin source-reg($size, $style) {
  font-family: $source;
  font-weight: 400;
  font-style: $style;
  font-size: $size;
}

@mixin source-semi($size, $style) {
  font-family: $source;
  font-weight: 600;
  font-style: $style;
  font-size: $size;
}

@mixin source-bold($size, $style) {
  font-family: $source;
  font-weight: 700;
  font-style: $style;
  font-size: $size;
}

@mixin trump-reg($size, $style) {
  font-family: $trump;
  font-weight: 400;
  font-style: $style;
  font-size: $size;
}

@mixin trump-bold($size, $style) {
  font-family: $trump;
  font-weight: 700;
  font-style: $style;
  font-size: $size;
}

// Type Styles
h1 {
  @include trump-reg(48px, normal);

  color: $gray;
  letter-spacing: .05em;
  text-transform: uppercase;
}

h2 {
  @include source-xl(22px, normal);

  color: $dark-gray;
  letter-spacing: .05em;
}

h3 {
  @include trump-reg(36px, normal);

  color: $dark-gray;
  letter-spacing: .05em;
  text-transform: uppercase;
}

h4 {
  @include source-semi(26px, italic);

  color: $cyan;
  letter-spacing: .05em;
}

h5 {
  @include source-xl(18px, bold);

  color: $light-gray;
  letter-spacing: .15em;
  text-transform: uppercase;
}

h6 {
  @include source-xl(22px, normal);

  color: $dark-gray;
  letter-spacing: .05em;
}

p {
  @include source-xl(20px, normal);

  letter-spacing: .05em;
  line-height: 30px;
}

blockquote {
  border-left: 1px solid $magenta;
  margin: 3rem 0;
  padding: 0 0 0 2rem;

  p {
    @include source-xl(26px, normal);

    color: $gray;
    line-height: 2.25rem;
  }

  ul {
    @include source-xl(20px, normal);

    list-style-type: circle;
    line-height: 1.75rem;

    li {
      color: $gray;
      padding: .5rem 0;
    }
  }
}

ol {
  @include source-xl(20px, normal);
}

ul {
  line-height: auto;
}