.feature-area {
  @include clearfix;

  border: 1px solid #414042;
  margin: 2.5rem;

}

nav {
  @include trump-bold(22px, normal)

  float: right;
  padding: 1rem 0;
  text-transform: uppercase;

  a {
    color: $dark-gray;
    letter-spacing: .1em;
    padding: .5rem 1rem;
    text-decoration: none;

    &:hover {
      color: $magenta;
    }
  }
}