<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    
    <body>
        {% include header.html %}

        <main id="main">

            <section>
                {{ content }}
            </section>

            <section>
              <ul>
                {% assign case_study_list = site.case-studies | sort:"weight" %}
                {% assign next_case_study_weight = page.weight | plus:1 %}
                {% for case-study in case_study_list %}
                    {% if case-study.weight == next_case_study_weight %}
                    <a href="{{ case-study.url }}">
                      <li>
                        <h3>{{ case-study.title }}</h1>
                        <h4>{{ case-study.categories }}</h5>
                        <a href="{{ case-study.url }}">Read Case Study</a>
                      </li>
                    </a>
                    {% endif %}
                {% endfor %}
              </ul>
            </section>

        </main>
        {% include footer.html %}
    </body>
</html>
