<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://use.typekit.net/uou1opd.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <!-- Favicons Here -->
    </head>
    <body>
        {% include header.html %}

        <section class="case-study">
            {{ content }}
        </section>

        <div class="case-studies">
          <ul>
            {% assign case_study_list = site.case-studies | sort:"weight" %}
            {% assign next_case_study_weight = page.weight | plus:1 %}
            {% for case-study in case_study_list %}
                {% if case-study.weight == next_case_study_weight %}
                <a href="{{ case-study.url }}">
                  <li>
                    <h1>{{ case-study.title }}</h1>
                    <p>{{ case-study.categories }}</p>
                  </li>
                </a>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        
        {% include footer.html %}
    </body>
</html>
