<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    
    <body>

        {% include header.html %}

        <main id="main">

            {% if page.url contains "case-studies" %}
            
            <section>
              {{ content }}
            </section>
            
            {% else %}
            
            <section>    
              {{ content }}
            </section>
            
            {% endif %}

        </main>

        {% include footer.html %}
    </body>
</html>
