<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://use.typekit.net/uou1opd.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <!-- Favicons Here -->

    </head>
    <body>
        {% include header.html %}

        <section class="body">

          {{ content }}

        </section>
        
        {% include footer.html %}
    </body>
</html>
