<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Javascript -->
        <script src="https://use.typekit.net/uou1opd.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <!-- Icons -->

    </head>
    <body>
        {% include header.html %}

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

        </div>
        
        {% include footer.html %}
    </body>
</html>
